<header class="header <%= logged_in? ? 'header-logged-in' : 'header-not-logged-in' %>">
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <h1>宴会TO DO</h1>
      </a>
    </div>
    
    <% if logged_in? %>
      <form class="search-form">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="search-input" placeholder="イベントを検索...">
      </form>
      
      <!-- ハンバーガーメニューはこの今後実装予定 -->

    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "login-button" %>
    <% end %>
  </div>
</header>
