.event-meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    font-size: 1.05rem;

    i {
        width: 24px;
        margin-right: 10px;
        color: #6c757d;
    }
}

.badge-status {
    font-size: 0.85rem;
    padding: 0.5rem 0.7rem;
    font-weight: 500;
}

.organizer-name {
    font-weight: 500;
    padding-left: 10px;
    border-left: 3px solid #ff7043;
    line-height: 1.2;
}

.white-space-pre-line {
    white-space: pre-line;
}